#header {
	padding: 15px 0 10px 0;
	background-color: #faf9f0;
}

li {
	margin: 0px 10px 0 10px;
}

#home {
	width: 100%;
	height: 700px;
}

.home1 {
	background: url(../img/home.jpg);
	width: 100%;
	height: 700px;
}

#orders {
	padding: 15px 0 20px 0;
	background-color: #faf9f0;
}

#orders .img .cardText {
	position: absolute;
	padding: 6px 8px;
	border-radius: 2px 0 2px 0;
	background: #198754;
	color: #fff;
	z-index: 999;
}

#orders .img {
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	transition: .3s;
}

#orders .img1 {
	background: url(../img/1.jpg);
	width: 100%;
	height: 300px;
	transition: .3s;
	left: 0;
}

#orders .img2 {
	background: url(../img/2.jpg);
	width: 100%;
	height: 300px;
	transition: .3s;
	left: 300px;
}

#orders .img:hover .img1 {
	left: -300px;
}

#orders .img:hover .img2 {
	left: 0px;
}

#footer {
	padding: 25px 0 25px 0;
	background-color: black;
	color: white;
	font-size: 20px;
}

#my_orders {
	padding: 15px 0 20px 0;
	background-color: #faf9f0;
}

#my_orders .timestamp {
	position: absolute;
	padding: 6px 8px;
	border-radius: 2px 0 2px 0;
	background: #198754;
	color: #fff;
	z-index: 999;
}

#myOrders .timestamp_master {
	position: absolute;
	padding: 6px 8px;
	border-radius: 2px 0 2px 0;
	background: #198754;
	color: #fff;
	z-index: 999;
}